@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    

    <script type="text/javascript">
        $(document).ready(() => {
            console.log("1");
            var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:5214/VisitorHub").build();
            console.log(connection.q)
            $("#connectionStatus").text(connection.q);
            console.log("3");
            connection.start().then(() => {
                console.log("startın içinde");
                $("#connectionStatus").text(connection.q);
                
            }).catch((err) => { console.log(err) });

        })
    </script>

}

<div class="container">
    <br />
    <div class="alert alert-warning">
        Bağlantınızın Durumu:<b id="connectionStatus"></b>
    </div>
</div>