@model CreateRoleWiewModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Rol Oluşturma Sayfası</h1>


<form method="post">
    <label>Rol Adını Giriniz</label>
    <input class="form-control" type="text" asp-for="RoleName" />
    <br />
    <button class="btn btn-outline-primary">Rol Ekle</button>
</form>
